################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/obj/Release/90/stamp/_ResolveLibraryProjectImports.stamp
/obj/Release/90/stamp/_ConvertResourcesCases.stamp
/obj/Release/90/stamp/_BuildLibraryImportsCache.stamp
/obj/Release/90/res.flag
/obj/Release/90/res/values/strings.xml
/obj/Release/90/res/layout/main.xml
/obj/Release/90/res/layout/login.xml
/obj/Release/90/R.txt
/obj/Release/90/R.cs.flag
/obj/Release/90/MonoAndroid,Version=v9.0.AssemblyAttributes.cs
/obj/Release/90/flata/_CompileResources.stamp
/obj/Release/90/flata/compiled.flata
/obj/Release/90/designtime/libraryprojectimports.cache
/obj/Release/90/designtime/libraryimports.cache
/obj/Release/90/designtime/build.props
/obj/Release/90/customview-map.txt
/obj/Release/90/aapt2.version
/obj/Debug/_javac.stamp
/obj/Debug/_dex_stamp
/obj/Debug/upload.flag
/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/obj/Debug/strip.flag
/obj/Debug/static.flag
/obj/Debug/Schemas/25/schemas.android.com.tools.xsd
/obj/Debug/Schemas/25/schemas.android.com.apk.res.auto.xsd
/obj/Debug/Schemas/25/schemas.android.com.apk.res.android.xsd
/obj/Debug/Schemas/25/android-layout-xml.xsd
/obj/Debug/resourcepaths.cache
/obj/Debug/resolved_assemblies.txt
/obj/Debug/res/values/strings.xml
/obj/Debug/res/layout/main.xml
/obj/Debug/res/layout/login.xml
/obj/Debug/R.cs.flag
/obj/Debug/lp/map.cache
/obj/Debug/lp/2.stamp
/obj/Debug/lp/1.stamp
/obj/Debug/lp/0.stamp
/obj/Debug/linksrc/System.Xml.pdb
/obj/Debug/linksrc/System.Xml.dll
/obj/Debug/linksrc/System.Threading.dll
/obj/Debug/linksrc/System.ServiceModel.Internals.pdb
/obj/Debug/linksrc/System.ServiceModel.Internals.dll
/obj/Debug/linksrc/System.Runtime.Serialization.pdb
/obj/Debug/linksrc/System.Runtime.Serialization.dll
/obj/Debug/linksrc/System.Runtime.InteropServices.dll
/obj/Debug/linksrc/System.Runtime.Extensions.dll
/obj/Debug/linksrc/System.Runtime.dll
/obj/Debug/linksrc/System.Reflection.Extensions.dll
/obj/Debug/linksrc/System.Reflection.dll
/obj/Debug/linksrc/System.pdb
/obj/Debug/linksrc/System.Net.Http.pdb
/obj/Debug/linksrc/System.Net.Http.dll
/obj/Debug/linksrc/System.Linq.dll
/obj/Debug/linksrc/System.dll
/obj/Debug/linksrc/System.Diagnostics.Debug.dll
/obj/Debug/linksrc/System.Core.pdb
/obj/Debug/linksrc/System.Core.dll
/obj/Debug/linksrc/System.ComponentModel.Composition.pdb
/obj/Debug/linksrc/System.ComponentModel.Composition.dll
/obj/Debug/linksrc/System.Collections.dll
/obj/Debug/linksrc/System.Collections.Concurrent.dll
/obj/Debug/linksrc/Plugin.Settings.dll.mdb
/obj/Debug/linksrc/Plugin.Settings.dll
/obj/Debug/linksrc/Plugin.Settings.Abstractions.dll.mdb
/obj/Debug/linksrc/Plugin.Settings.Abstractions.dll
/obj/Debug/linksrc/mscorlib.pdb
/obj/Debug/linksrc/mscorlib.dll
/obj/Debug/linksrc/Mono.Security.pdb
/obj/Debug/linksrc/Mono.Security.dll
/obj/Debug/linksrc/Mono.Android.pdb
/obj/Debug/linksrc/Mono.Android.dll
/obj/Debug/linksrc/KOA.Anver.dll.mdb
/obj/Debug/linksrc/KOA.Anver.dll
/obj/Debug/linksrc/Java.Interop.dll
/obj/Debug/linksrc/Anver.dll
/obj/Debug/linkdst/KOA.Anver.pdb
/obj/Debug/linkdst/KOA.Anver.dll.mdb
/obj/Debug/linkdst/KOA.Anver.dll
/obj/Debug/linkdst/Anver.pdb
/obj/Debug/linkdst/Anver.dll.mdb
/obj/Debug/linkdst/Anver.dll
/obj/Debug/link.flag
/obj/Debug/libraryprojectimports.cache
/obj/Debug/libraryimports.cache
/obj/Debug/KOA.Anver.pdb
/obj/Debug/KOA.Anver.dll
/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/obj/Debug/designtime/libraryprojectimports.cache
/obj/Debug/designtime/libraryimports.cache
/obj/Debug/Component.R.cs.flag
/obj/Debug/build.props
/obj/Debug/Anver.csprojResolveAssemblyReference.cache
/obj/Debug/Anver.csproj.FileListAbsolute.txt
/obj/Debug/Anver.csproj.CoreCompileInputs.cache
/obj/Debug/Anver.csproj.CopyComplete
/obj/Debug/android_debug_keystore.flag
/obj/Debug/android/typemap.mj
/obj/Debug/android/typemap.jm
/obj/Debug/android/src/mono/MonoRuntimeProvider.java
/obj/Debug/android/src/mono/MonoPackageManager.java
/obj/Debug/android/src/mono/android/Seppuku.java
/obj/Debug/android/src/mono/android/app/NotifyTimeZoneChanges.java
/obj/Debug/android/src/mono/android/app/ApplicationRegistration.java
/obj/Debug/android/src/md594bd5368d5570af0daefa068da333996/MainActivity.java
/obj/Debug/android/src/md521432a0e4f039821f1c85c87dcc384a7/MainActivity.java
/obj/Debug/android/src/koa/anver/R.java
/obj/Debug/android/src/anver/anver/R.java
/obj/Debug/android/manifest/AndroidManifest.xml
/obj/Debug/android/koa/anver/R.java
/obj/Debug/android/bin/packaged_resources
/obj/Debug/android/bin/mono.android.jar
/obj/Debug/android/bin/KOA.Anver.apk
/obj/Debug/android/bin/classes.dex
/obj/Debug/android/bin/classes/mono/MonoRuntimeProvider.class
/obj/Debug/android/bin/classes/mono/MonoPackageManager_Resources.class
/obj/Debug/android/bin/classes/mono/MonoPackageManager.class
/obj/Debug/android/bin/classes/mono/android/Seppuku.class
/obj/Debug/android/bin/classes/mono/android/app/NotifyTimeZoneChanges.class
/obj/Debug/android/bin/classes/mono/android/app/ApplicationRegistration.class
/obj/Debug/android/bin/classes/md594bd5368d5570af0daefa068da333996/MainActivity.class
/obj/Debug/android/bin/classes/md521432a0e4f039821f1c85c87dcc384a7/MainActivity.class
/obj/Debug/android/bin/classes/koa/anver/R.class
/obj/Debug/android/bin/classes/koa/anver/R$string.class
/obj/Debug/android/bin/classes/koa/anver/R$layout.class
/obj/Debug/android/bin/classes/koa/anver/R$id.class
/obj/Debug/android/bin/classes/koa/anver/R$attr.class
/obj/Debug/android/bin/classes/classes.zip
/obj/Debug/android/bin/classes/anver/anver/R.class
/obj/Debug/android/bin/classes/anver/anver/R$string.class
/obj/Debug/android/bin/classes/anver/anver/R$layout.class
/obj/Debug/android/bin/classes/anver/anver/R$id.class
/obj/Debug/android/bin/classes/anver/anver/R$attr.class
/obj/Debug/android/assets/System.Xml.pdb
/obj/Debug/android/assets/System.Xml.dll
/obj/Debug/android/assets/System.Threading.dll
/obj/Debug/android/assets/System.ServiceModel.Internals.pdb
/obj/Debug/android/assets/System.ServiceModel.Internals.dll
/obj/Debug/android/assets/System.Runtime.Serialization.pdb
/obj/Debug/android/assets/System.Runtime.Serialization.dll
/obj/Debug/android/assets/System.Runtime.InteropServices.dll
/obj/Debug/android/assets/System.Runtime.Extensions.dll
/obj/Debug/android/assets/System.Runtime.dll
/obj/Debug/android/assets/System.Reflection.Extensions.dll
/obj/Debug/android/assets/System.Reflection.dll
/obj/Debug/android/assets/System.pdb
/obj/Debug/android/assets/System.Net.Http.pdb
/obj/Debug/android/assets/System.Net.Http.dll
/obj/Debug/android/assets/System.Linq.dll
/obj/Debug/android/assets/System.dll
/obj/Debug/android/assets/System.Diagnostics.Debug.dll
/obj/Debug/android/assets/System.Core.pdb
/obj/Debug/android/assets/System.Core.dll
/obj/Debug/android/assets/System.ComponentModel.Composition.pdb
/obj/Debug/android/assets/System.ComponentModel.Composition.dll
/obj/Debug/android/assets/System.Collections.dll
/obj/Debug/android/assets/System.Collections.Concurrent.dll
/obj/Debug/android/assets/Plugin.Settings.dll.mdb
/obj/Debug/android/assets/Plugin.Settings.dll
/obj/Debug/android/assets/Plugin.Settings.Abstractions.dll.mdb
/obj/Debug/android/assets/Plugin.Settings.Abstractions.dll
/obj/Debug/android/assets/mscorlib.pdb
/obj/Debug/android/assets/mscorlib.dll
/obj/Debug/android/assets/Mono.Security.pdb
/obj/Debug/android/assets/Mono.Security.dll
/obj/Debug/android/assets/Mono.Android.pdb
/obj/Debug/android/assets/Mono.Android.dll
/obj/Debug/android/assets/machine.config
/obj/Debug/android/assets/KOA.Anver.dll.mdb
/obj/Debug/android/assets/KOA.Anver.dll
/obj/Debug/android/assets/Java.Interop.dll
/obj/Debug/android/assets/Anver.dll.mdb
/obj/Debug/android/assets/Anver.dll
/obj/Debug/android/anver/anver/R.java
/obj/Debug/android/AndroidManifest.xml
/obj/Debug/acw-map.txt
/obj/Debug/9DCDU17111013726.deployment
/obj/Debug/90/__environment__.txt
/obj/Debug/90/_TelemetryProps
/obj/Debug/90/_javac.stamp
/obj/Debug/90/_IsIncrementalBuild
/obj/Debug/90/upload.flag
/obj/Debug/90/static.flag
/obj/Debug/90/stamp/_ResolveLibraryProjectImports.stamp
/obj/Debug/90/stamp/_GeneratePackageManagerJava.stamp
/obj/Debug/90/stamp/_GenerateJavaStubs.stamp
/obj/Debug/90/stamp/_ConvertResourcesCases.stamp
/obj/Debug/90/stamp/_ConvertCustomView.stamp
/obj/Debug/90/stamp/_CompileToDalvik.stamp
/obj/Debug/90/stamp/_CleanIntermediateIfNuGetsChange.stamp
/obj/Debug/90/stamp/_BuildLibraryImportsCache.stamp
/obj/Debug/90/resourcecache/designer-resources/P_5-z-d9ccf86scb-14_cdac33a1360c9ca9
/obj/Debug/90/resourcecache/designer-resources/P_5-z-d9ccf86scb-14_2d10810588386448
/obj/Debug/90/resourcecache/designer-resources/P_5-y-d9ccf86scb-14_cdac33a1360c9ca9
/obj/Debug/90/resourcecache/designer-resources/P_5-y-d9ccf86scb-14_2d10810588386448
/obj/Debug/90/resourcecache/designer-resources/P_5-x-d9ccf86scb-14_cdac33a1360c9ca9
/obj/Debug/90/resourcecache/designer-resources/P_5-x-d9ccf86scb-14_2d10810588386448
/obj/Debug/90/resourcecache/designer-resources/P_5-w-d9ccf86scb-14_cdac33a1360c9ca9
/obj/Debug/90/resourcecache/designer-resources/P_5-w-d9ccf86scb-14_2d10810588386448
/obj/Debug/90/resourcecache/designer-resources/P_5-v-d9ccf86scb-14_cdac33a1360c9ca9
/obj/Debug/90/resourcecache/designer-resources/P_5-v-d9ccf86scb-14_2d10810588386448
/obj/Debug/90/resourcecache/designer-resources/P_5-u-d9ccf86scb-14_cdac33a1360c9ca9
/obj/Debug/90/resourcecache/designer-resources/P_5-u-d9ccf86scb-14_2d10810588386448
/obj/Debug/90/resourcecache/designer-resources/P_5-t-d9ccf86scb-14_cdac33a1360c9ca9
/obj/Debug/90/resourcecache/designer-resources/P_5-t-d9ccf86scb-14_2d10810588386448
/obj/Debug/90/resourcecache/designer-resources/P_5-s-d9ccf86scb-14_cdac33a1360c9ca9
/obj/Debug/90/resourcecache/designer-resources/P_5-s-d9ccf86scb-14_2d10810588386448
/obj/Debug/90/resourcecache/designer-resources/P_5-r-d9ccf86scb-14_cdac33a1360c9ca9
/obj/Debug/90/resourcecache/designer-resources/P_5-r-d9ccf86scb-14_2d10810588386448
/obj/Debug/90/resourcecache/designer-resources/P_5-q-d9ccf86scb-14_cdac33a1360c9ca9
/obj/Debug/90/resourcecache/designer-resources/P_5-q-d9ccf86scb-14_2d10810588386448
/obj/Debug/90/resourcecache/designer-resources/P_5-p-d9ccf86scb-14_cdac33a1360c9ca9
/obj/Debug/90/resourcecache/designer-resources/P_5-p-d9ccf86scb-14_2d10810588386448
/obj/Debug/90/resourcecache/designer-resources/P_5-o-d9ccf86scb-14_cdac33a1360c9ca9
/obj/Debug/90/resourcecache/designer-resources/P_5-o-d9ccf86scb-14_2d10810588386448
/obj/Debug/90/resourcecache/designer-resources/P_5-n-d9ccf86scb-14_cdac33a1360c9ca9
/obj/Debug/90/resourcecache/designer-resources/P_5-n-d9ccf86scb-14_2d10810588386448
/obj/Debug/90/resourcecache/designer-resources/P_5-m-d9ccf86scb-14_cdac33a1360c9ca9
/obj/Debug/90/resourcecache/designer-resources/P_5-m-d9ccf86scb-14_2d10810588386448
/obj/Debug/90/resourcecache/designer-resources/P_5-l-d9ccf86scb-14_cdac33a1360c9ca9
/obj/Debug/90/resourcecache/designer-resources/P_5-l-d9ccf86scb-14_2d10810588386448
/obj/Debug/90/resourcecache/designer-resources/P_5-k-d9ccf86scb-14_cdac33a1360c9ca9
/obj/Debug/90/resourcecache/designer-resources/P_5-k-d9ccf86scb-14_2d10810588386448
/obj/Debug/90/resourcecache/designer-resources/P_5-j-d9ccf86scb-14_cdac33a1360c9ca9
/obj/Debug/90/resourcecache/designer-resources/P_5-i-d9ccf86scb-14_cdac33a1360c9ca9
/obj/Debug/90/resourcecache/designer-resources/P_5-h-d9ccf86scb-14_cdac33a1360c9ca9
/obj/Debug/90/resourcecache/designer-resources/P_5-g-d9ccf86scb-14_cdac33a1360c9ca9
/obj/Debug/90/resourcecache/designer-resources/P_5-f-d9ccf86scb-14_cdac33a1360c9ca9
/obj/Debug/90/resourcecache/designer-resources/P_5-e-d9ccf86scb-14_cdac33a1360c9ca9
/obj/Debug/90/resourcecache/designer-resources/P_5-d-d9ccf86scb-14_cdac33a1360c9ca9
/obj/Debug/90/resourcecache/designer-resources/P_5-c-d9ccf86scb-14_cdac33a1360c9ca9
/obj/Debug/90/resourcecache/designer-resources/P_5-b-d9ccf86scb-14_cdac33a1360c9ca9
/obj/Debug/90/resourcecache/designer-resources/P_5-a-d9ccf86scb-14_cdac33a1360c9ca9
/obj/Debug/90/resourcecache/designer-resources/P_5-9-d9ccf86scb-14_cdac33a1360c9ca9
/obj/Debug/90/resourcecache/designer-resources/P_5-8-d9ccf86scb-14_cdac33a1360c9ca9
/obj/Debug/90/resourcecache/designer-resources/P_5-7-d9ccf86scb-14_cdac33a1360c9ca9
/obj/Debug/90/resourcecache/designer-resources/P_5-6-d9ccf86scb-14_cdac33a1360c9ca9
/obj/Debug/90/resourcecache/designer-resources/P_5-5-d9ccf86scb-14_cdac33a1360c9ca9
/obj/Debug/90/resourcecache/designer-resources/P_5-4-d9ccf86scb-14_cdac33a1360c9ca9
/obj/Debug/90/resourcecache/designer-resources/P_5-3-d9ccf86scb-14_cdac33a1360c9ca9
/obj/Debug/90/resourcecache/designer-resources/P_5-2-d9ccf86scb-14_cdac33a1360c9ca9
/obj/Debug/90/resourcecache/designer-resources/P_5-1-d9ccf86scb-14_cdac33a1360c9ca9
/obj/Debug/90/resourcecache/designer-resources/P_5-0-d9ccf86scb-14_cdac33a1360c9ca9
/obj/Debug/90/resourcecache/designer-resources/P_5-0-c9rfk8pscb-14_2d10810588386448
/obj/Debug/90/resourcecache/designer-resources/F-28-14-cdac33a1360c9ca9
/obj/Debug/90/resourcecache/designer-resources/F-28-14-2d10810588386448
/obj/Debug/90/resolvedassemblies.hash
/obj/Debug/90/res.flag
/obj/Debug/90/res/values/strings.xml
/obj/Debug/90/res/layout/main.xml
/obj/Debug/90/res/layout/login.xml
/obj/Debug/90/R.txt
/obj/Debug/90/R.cs.flag
/obj/Debug/90/packagenamingpolicy.props
/obj/Debug/90/MonoAndroid,Version=v9.0.AssemblyAttributes.cs
/obj/Debug/90/lp/map.cache
/obj/Debug/90/LMG810EAW6430ba1f.deployment
/obj/Debug/90/libraryprojectimports.cache
/obj/Debug/90/libraryimports.cache
/obj/Debug/90/KOA.Anver.pdb
/obj/Debug/90/KOA.Anver.dll
/obj/Debug/90/flata/_CompileResources.stamp
/obj/Debug/90/flata/compiled.flata
/obj/Debug/90/devices.cache
/obj/Debug/90/DesignTimeResolveAssemblyReferencesInput.cache
/obj/Debug/90/designtime/Resource.designer.cs
/obj/Debug/90/designtime/libraryprojectimports.cache
/obj/Debug/90/designtime/build.props
/obj/Debug/90/customview-map.txt
/obj/Debug/90/buildid.txt
/obj/Debug/90/build.props
/obj/Debug/90/app_shared_libraries/armeabi-v7a/libxamarin-app.so
/obj/Debug/90/app_shared_libraries/arm64-v8a/libxamarin-app.so
/obj/Debug/90/Anver.csprojAssemblyReference.cache
/obj/Debug/90/Anver.csproj.FileListAbsolute.txt
/obj/Debug/90/Anver.csproj.CoreCompileInputs.cache
/obj/Debug/90/Anver.csproj.CopyComplete
/obj/Debug/90/android_debug_keystore.flag
/obj/Debug/90/android/typemap.mj.inc
/obj/Debug/90/android/typemap.mj.armeabi-v7a.s
/obj/Debug/90/android/typemap.mj.armeabi-v7a.o
/obj/Debug/90/android/typemap.mj.arm64-v8a.s
/obj/Debug/90/android/typemap.mj.arm64-v8a.o
/obj/Debug/90/android/typemap.jm.inc
/obj/Debug/90/android/typemap.jm.armeabi-v7a.s
/obj/Debug/90/android/typemap.jm.armeabi-v7a.o
/obj/Debug/90/android/typemap.jm.arm64-v8a.s
/obj/Debug/90/android/typemap.jm.arm64-v8a.o
/obj/Debug/90/android/src/mono/MonoRuntimeProvider.java
/obj/Debug/90/android/src/mono/MonoPackageManager_Resources.java
/obj/Debug/90/android/src/mono/android/app/ApplicationRegistration.java
/obj/Debug/90/android/src/koa/anver/R.java
/obj/Debug/90/android/src/crc64a981418b44bda4d3/MainActivity.java
/obj/Debug/90/android/manifest/AndroidManifest.xml
/obj/Debug/90/android/environment.armeabi-v7a.s
/obj/Debug/90/android/environment.armeabi-v7a.o
/obj/Debug/90/android/environment.arm64-v8a.s
/obj/Debug/90/android/environment.arm64-v8a.o
/obj/Debug/90/android/bin/packaged_resources
/obj/Debug/90/android/bin/mono.android.jar
/obj/Debug/90/android/bin/KOA.Anver.apk
/obj/Debug/90/android/bin/classes.zip
/obj/Debug/90/android/bin/classes.dex
/obj/Debug/90/android/bin/classes/mono/MonoRuntimeProvider.class
/obj/Debug/90/android/bin/classes/mono/MonoPackageManager_Resources.class
/obj/Debug/90/android/bin/classes/mono/android/app/ApplicationRegistration.class
/obj/Debug/90/android/bin/classes/koa/anver/R.class
/obj/Debug/90/android/bin/classes/koa/anver/R$string.class
/obj/Debug/90/android/bin/classes/koa/anver/R$layout.class
/obj/Debug/90/android/bin/classes/koa/anver/R$id.class
/obj/Debug/90/android/bin/classes/crc64a981418b44bda4d3/MainActivity.class
/obj/Debug/90/android/assets/System.Xml.pdb
/obj/Debug/90/android/assets/System.Xml.dll
/obj/Debug/90/android/assets/System.ServiceModel.Internals.pdb
/obj/Debug/90/android/assets/System.ServiceModel.Internals.dll
/obj/Debug/90/android/assets/System.Runtime.Serialization.pdb
/obj/Debug/90/android/assets/System.Runtime.Serialization.dll
/obj/Debug/90/android/assets/System.Runtime.dll
/obj/Debug/90/android/assets/System.pdb
/obj/Debug/90/android/assets/System.Numerics.pdb
/obj/Debug/90/android/assets/System.Numerics.dll
/obj/Debug/90/android/assets/System.Net.Http.pdb
/obj/Debug/90/android/assets/System.Net.Http.dll
/obj/Debug/90/android/assets/System.Drawing.Common.pdb
/obj/Debug/90/android/assets/System.Drawing.Common.dll
/obj/Debug/90/android/assets/System.dll
/obj/Debug/90/android/assets/System.Core.pdb
/obj/Debug/90/android/assets/System.Core.dll
/obj/Debug/90/android/assets/System.ComponentModel.Composition.pdb
/obj/Debug/90/android/assets/System.ComponentModel.Composition.dll
/obj/Debug/90/android/assets/Plugin.Settings.dll.mdb
/obj/Debug/90/android/assets/Plugin.Settings.dll
/obj/Debug/90/android/assets/Plugin.Settings.Abstractions.dll.mdb
/obj/Debug/90/android/assets/Plugin.Settings.Abstractions.dll
/obj/Debug/90/android/assets/mscorlib.pdb
/obj/Debug/90/android/assets/mscorlib.dll
/obj/Debug/90/android/assets/Mono.Security.pdb
/obj/Debug/90/android/assets/Mono.Security.dll
/obj/Debug/90/android/assets/Mono.Android.pdb
/obj/Debug/90/android/assets/Mono.Android.dll
/obj/Debug/90/android/assets/machine.config
/obj/Debug/90/android/assets/KOA.Anver.dll.mdb
/obj/Debug/90/android/assets/KOA.Anver.dll
/obj/Debug/90/android/assets/Java.Interop.dll
/obj/Debug/90/android/AndroidManifest.xml
/obj/Debug/90/adb.props
/obj/Debug/90/acw-map.txt
/obj/Debug/90/aapt2.version
/obj/.cache/KOA.Anver.flag
/bin/Debug/System.Xml.pdb
/bin/Debug/System.ServiceModel.Internals.pdb
/bin/Debug/System.Runtime.Serialization.pdb
/bin/Debug/System.pdb
/bin/Debug/System.Net.Http.pdb
/bin/Debug/System.Core.pdb
/bin/Debug/System.ComponentModel.Composition.pdb
/bin/Debug/Plugin.Settings.xml
/bin/Debug/Plugin.Settings.pdb
/bin/Debug/Plugin.Settings.dll.mdb
/bin/Debug/Plugin.Settings.dll
/bin/Debug/Plugin.Settings.Abstractions.xml
/bin/Debug/Plugin.Settings.Abstractions.pdb
/bin/Debug/Plugin.Settings.Abstractions.dll.mdb
/bin/Debug/Plugin.Settings.Abstractions.dll
/bin/Debug/mscorlib.pdb
/bin/Debug/Mono.Security.pdb
/bin/Debug/Mono.Android.pdb
/bin/Debug/KOA.Anver.pdb
/bin/Debug/KOA.Anver.dll.mdb
/bin/Debug/KOA.Anver.dll
/bin/Debug/KOA.Anver.apk
/bin/Debug/KOA.Anver-Signed.apk
/bin/Debug/Anver.dll.mdb
/Anver.csproj
/Anver.csproj.user
/GettingStarted.Xamarin
