################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/obj/Release/90/stamp/_ResolveLibraryProjectImports.stamp
